# [tea_leaf]
CALI_SERVICES_ENABLE=mpi:timestamp:event:aggregate:mpireport
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_OFFSET=false
CALI_TIMER_TIMESTAMP=false
CALI_TIMER_INCLUSIVE_DURATION=true
CALI_EVENT_TRIGGER=annotation
CALI_AGGREGATE_KEY=annotation
CALI_AGGREGATE_ATTRIBUTES=""
CALI_MPIREPORT_CONFIG="SELECT annotation,sum(sum#time.duration) AS time,percent_total(sum#time.duration) AS percent GROUP BY annotation ORDER BY percent_total#sum#time.duration DESC FORMAT table"

# [tea_leaf_recorder]
CALI_SERVICES_ENABLE=mpi:timestamp:event:aggregate:recorder
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_OFFSET=false
CALI_TIMER_TIMESTAMP=false
CALI_TIMER_INCLUSIVE_DURATION=true
CALI_EVENT_TRIGGER=annotation
CALI_AGGREGATE_KEY=annotation
CALI_AGGREGATE_ATTRIBUTES=""
CALI_RECORDER_DIRECTORY=caliper
CALI_RECORDER_FILENAME=%mpi.rank%.caliper
